🔌 Одна из точек доступна 🔌

Город: {{ .CityName }} {{ .CitySubdivision }}
Часовой пояс: {{ .TimeZone }}

🔍:
#{{ .CityName }}
https://www.google.com/maps?q={{ .GeoIp.Location.Latitude }},{{ .GeoIp.Location.Longitude }}
